html{
  font-family: 'Century Gothic', sans-serif;
}
body{
  width: 100%;
  margin:auto;
}

h1{
  text-align: center;
  margin:auto;
  height: 25px;
  background-color: lightblue;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

h2{
  color: lightblue;
  text-align: center;
  text-decoration: underline;
}

#wrapper{
  background-color: grey;
}

form{
  width: auto;
  text-align: right;
  color: white;
  margin: auto;
  padding-left: 20%;
  padding-right: 40%;
}

#fname{
  width: 125px;
  margin-left: 52px;
  margin-bottom: 10px;
}

#lname{
  width: 125px;
  margin-left: 52px;
  margin-bottom: 10px;
}

#jobnumber{
  width: 125px;
  margin-left: 38px;
  margin-bottom: 10px;
}

#hours{
  width: 125px;
  margin-left: 91px;
  margin-bottom: 10px;
}

#completiondate{
  width: 125px;
  margin-left: 5px;
  margin-bottom: 10px;
}

#subBtn{
  background-color: lightblue;
  color: black;
}

footer{
  color: white;
  background-color: lightblue;
  text-align: center;
  border-top: white;
  border-top-style: solid;
  margin-top: 10px;
  padding-top: 5px;
}
